# use glob syntax
syntax: glob

*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.resharper
[Uu]pgrade[Ll]og*.xml
[Bb]uild/
[Bb]in
[Db]ebug*/
_[Uu]pgrade[Rr]eport_*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*logs*
*logfile*
*.orig
[Pp]ackages/
src/.vs/*